#phone {
  width: 360px;
  height: 640px;
  background:white;
  display:flex;
  flex-direction:row;
}

#remote {
  display:flex;
  flex-direction:column;
  width:80%;
}

#dock {
  width:20%;
  background:lightgray;
  border-left:2px solid darkslategray;
}

#logo {
  width: 100%;
  padding-top:30%;
  padding-bottom:30%;
}

#controller-area {
  width:180px;
  height:180px;
  margin: 0 auto;
  display:flex;
  flex-direction:column;
}

button {
  width:60px;
  height:60px;
  background:none;
  border-radius:5px;
}

#button--up {
  margin-left:60px;
}
